<div class="navbar">
  <div>
    <a class="head-navbar" href="/">Members-only</a>
  </div>
  <div class="links-nav">
    <% if (!user) {%>
    <a class="links" href="/sign-up">Sign Up</a>
    <a class="links" href="/login">Login</a>
    <% } else {%>
    <a class="links" href="/create-message">Create Message</a>
    <a class="links" href="/member">Member</a>
    <a class="links" href="/admin">Admin</a>

    <a class="links" href="/logout">Logout</a>
    <div class="stick-div"><p class="stick">user:<%= user.username %></p></div>

    <% } %>
  </div>
</div>
