<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>

    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <%- include('./navbar.ejs') %>
    <h1><%= title %></h1>
    <p>Contains messages</p>
    <a href="/logout">logout</a>
  </body>
</html>
