<!DOCTYPE html>
<html>
  <%- include('./header.ejs') %>
  <body>
    <%- include('./navbar.ejs') %>
    <h1><%= title %></h1>
    <p class="bolding">Contains messages</p>
    <% if (user) {%>
    <p class="bolding">Welcome <%= user.username %></p>
    <% }else {%>
    <p class="bolding">You are not logged in</p>
    <% }%>
  </body>
</html>
