<!DOCTYPE html>
<html>
  <%- include('./header.ejs') %>
  <body>
    <%- include('./navbar.ejs') %>
    <h1><%= title %></h1>
    <% if(!user.member){ %>
    <form action="" method="post">
      <label for="passcode">Passcode</label>
      <input type="text" name="passcode" id="passcode" />
      <button type="submit">submit</button>
    </form>
    <% }else{ %>
    <h1>You are already a member,dawg</h1>
    <% }%>
  </body>
</html>
