<!DOCTYPE html>
<html>
  <%- include('./header.ejs') %>
  <body>
    <%- include('./partials/navbar.ejs')%>

    <div class="form-div">
      <div class="form-box">
        <form action="" method="POST" class="form-class">
          <label for="username">Username</label>
          <input type="text" name="username" id="username" />
          <label for="password">Password</label>
          <input type="password" name="password" id="password" />
          <label for="confirmPassword">Confirm Password</label>
          <input type="password" name="confirmPassword" id="confirm-password" />
          <button type="submit">sign up</button>
        </form>
      </div>
    </div>

    <% if (locals.errors) { %>
    <ul>
      <% errors.forEach(function(error) { %>
      <li><%= error.msg %></li>
      <% }); %>
    </ul>
    <% } %>
  </body>
</html>
